<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3i7QckXWCznxATpn7vmf0RyoXcZzAxao</string>
	<key>GCM_SENDER_ID</key>
	<string>397371977962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneonone.OnO</string>
	<key>PROJECT_ID</key>
	<string>oneonone-3c6d2</string>
	<key>STORAGE_BUCKET</key>
	<string>oneonone-3c6d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:397371977962:ios:f3b7e467bc3e1ac2762793</string>
</dict>
</plist>
